.menu {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 13px;
  color: var(--text-primary);
  opacity: 0.9;
  user-select: none;
}

.item {
  padding: 6px 6px;
  border-radius: 6px;
}

.item:hover {
  background: var(--bg-hover);
}

